Repository mplewis/woobiebot: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

typecheck:
  run: pnpm tsc --noEmit

lint:
  run: pnpm biome check --write {staged_files}

format:
  run: pnpm prettier --write {staged_files}

feat: test frontend
  package.json
  pnpm-lock.yaml
  src/frontend/captcha/crypto.spec.ts
  src/frontend/captcha/crypto.ts
  src/frontend/captcha/download.spec.ts
  src/frontend/captcha/download.ts
  src/frontend/captcha/index.ts
  src/frontend/manage/index.ts
  src/frontend/manage/tree.spec.ts
  src/frontend/manage/tree.ts
  src/test-setup.ts
  vitest.config.ts
Due: typecheck, lint, format

feat: zod schema validation
  .claude/settings.local.json
  src/e2e/delete.spec.ts
  src/e2e/upload.spec.ts
  src/routes.ts
  src/shared/types.ts
  src/webServer.spec.ts
Due: typecheck, lint, format

feat: page data api + no global
  src/e2e/api.spec.ts
  src/frontend/captcha/index.ts
  src/frontend/manage/index.ts
  src/routes.ts
  src/templateLoader.ts
  templates/captcha.html
  templates/manage.html
Due: typecheck, lint, format

tidy: frontend html static build
  src/frontend/captcha.css
  src/frontend/captcha.html
  src/frontend/captcha/index.ts
  src/frontend/manage.css
  src/frontend/manage.html
  src/frontend/manage/index.ts
  src/routes.ts
  src/templateLoader.ts
  src/webServer.spec.ts
  vite.config.ts
Due: typecheck, lint, format

feat: delete modal no close on delete
  src/frontend/manage.css
  src/frontend/manage/index.ts
  src/frontend/manage/modal.spec.ts
  src/test-setup.ts
Due: typecheck, lint, format

tidy: wording
  src/frontend/manage.css
  src/frontend/manage.html
Due: none

feat: reject non accepted file types
  src/e2e/api.spec.ts
  src/e2e/upload.spec.ts
  src/frontend/manage/index.ts
  src/frontend/manage/upload.spec.ts
  src/routes.ts
  src/shared/types.ts
  src/webServer.ts
Due: typecheck, lint, format

feat: validate file size
  src/frontend/manage/index.ts
  src/frontend/manage/upload.spec.ts
Due: typecheck, lint, format

feat: unique filename suffix on dupe upload
  src/e2e/upload.spec.ts
  src/routes.ts
Due: typecheck, lint, format

fix: lint
  .claude/settings.local.json
  src/frontend/manage/upload.spec.ts
Due: typecheck, lint, format

fix: build before testing
  package.json
Due: format

fix: spec uses real file
  src/frontend/manage/modal.spec.ts
Due: typecheck, lint, format

feat: improved discord logging and message outbox
  .env.example
  README.md
  src/bot.spec.ts
  src/config.spec.ts
  src/config.ts
  src/index.ts
  src/logger.ts
  src/messageOutbox.spec.ts
  src/messageOutbox.ts
  src/webServer.spec.ts
Due: format

fix: spec env order
  src/config.spec.ts
Due: format

fix: prettier ignore lockfile
  .prettierignore
Due: none

fix: lint
  src/e2e/testHelpers.ts
Due: typecheck, lint, format

refactor: /manage/upload url
  src/e2e/upload.spec.ts
  src/frontend/manage/index.ts
  src/routes.ts
Due: typecheck, lint, format

refactor: remove -data suffix from API endpoints
  src/e2e/api.spec.ts
  src/frontend/captcha/index.ts
  src/frontend/manage/index.ts
  src/routes.ts
Due: typecheck, lint, format

feat: shared auth hook for manage
  src/authMiddleware.spec.ts
  src/authMiddleware.ts
  src/e2e/api.spec.ts
  src/e2e/delete.spec.ts
  src/e2e/upload.spec.ts
  src/routes.ts
  src/shared/types.ts
Due: typecheck, lint, format

feat: structlog on manage tasks
  src/routes.spec.ts
  src/routes.ts
Due: format

feat: split routes
  src/format.spec.ts
  src/format.ts
  src/routes.spec.ts
  src/routes/health.ts
  src/routes/index.ts
  src/routes/manage.ts
  src/routes/public.ts
  src/webServer.ts
Due: typecheck, lint, format

fix: docker build
  Dockerfile
Due: none

fix: sig/token
  src/e2e/api.spec.ts
  src/routes/public.ts
Due: typecheck, lint, format

fix: bad chars in filenames
  src/routes/manage.ts
  src/routes/public.ts
  src/webServer.spec.ts
Due: typecheck, lint, format

feat: pluralize
  src/bot.ts
  src/format.spec.ts
  src/format.ts
  src/pluralize.spec.ts
  src/pluralize.ts
Due: format

feat: /list
  src/bot.spec.ts
  src/bot.ts
  src/commands.ts
  src/format.spec.ts
  src/format.ts
  src/indexer.spec.ts
  src/testUtils.spec.ts
Due: format

feat: /help
  src/bot.spec.ts
  src/bot.ts
  src/commands.ts
  src/format.ts
Due: format

feat: close all folders on startup
  src/frontend/manage/index.ts
Due: typecheck, lint, format

feat: expand/collapse all buttons
  src/frontend/manage.css
  src/frontend/manage.html
  src/frontend/manage/index.ts
Due: typecheck, lint, format

feat: store directory expand/contract state
  src/bot.spec.ts
  src/frontend/manage/directoryState.spec.ts
  src/frontend/manage/directoryState.ts
  src/frontend/manage/index.ts
Due: typecheck, lint, format

feat: button size css
  src/frontend/manage.css
  src/frontend/manage.html
  src/frontend/manage/index.ts
Due: typecheck, lint, format

feat: search bar, input padding
  src/frontend/manage.css
  src/frontend/manage.html
  src/frontend/manage/index.ts
Due: typecheck, lint, format

feat: rename/move
  src/frontend/manage.css
  src/frontend/manage.html
  src/frontend/manage/index.ts
  src/routes/manage.ts
  src/shared/types.ts
  src/validation.spec.ts
  src/validation.ts
Due: typecheck, lint, format

refactor: unit test manage frontend
  src/frontend/manage/index.spec.ts
  src/frontend/manage/index.ts
Due: typecheck, lint, format

feat: unit test dom manage frontend
  src/frontend/manage/index.spec.ts
  src/frontend/manage/index.ts
Due: typecheck, lint, format

refactor: split up manage frontend
  src/frontend/manage/api.ts
  src/frontend/manage/delete.ts
  src/frontend/manage/index.spec.ts
  src/frontend/manage/index.ts
  src/frontend/manage/rename.ts
  src/frontend/manage/render.spec.ts
  src/frontend/manage/render.ts
  src/frontend/manage/search.spec.ts
  src/frontend/manage/search.ts
  src/frontend/manage/upload.ts
  src/frontend/manage/validation.spec.ts
  src/frontend/manage/validation.ts
Due: typecheck, lint, format

feat: test coverage
  src/captcha.spec.ts
  src/config.spec.ts
  src/fileId.spec.ts
  src/format.spec.ts
  src/frontend/manage/directoryState.spec.ts
  src/frontend/manage/search.spec.ts
  src/indexer.spec.ts
  src/indexer.ts
  src/messageOutbox.spec.ts
  src/rateLimiter.spec.ts
  src/testUtils.spec.ts
  src/webServer.spec.ts
  vitest.config.ts
Due: typecheck, lint, format

feat: search full path in manage
  src/frontend/manage/render.spec.ts
  src/frontend/manage/render.ts
  src/frontend/manage/search.spec.ts
  src/frontend/manage/search.ts
  src/frontend/manage/validation.ts
Due: typecheck, lint, format

Path conditions:
  typecheck: any of: src/**/*.ts
  lint: any of: src/**/*.ts
  format: any of: *.{ts,json,md,yml}
